/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f1f1f1;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Add padding for small screens */
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

input {
  width: 90%; /* Adjust for smaller screens */
  max-width: 500px;
  padding: 15px;
  font-size: 1.5rem;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
  outline: none;
}

button {
  width: 90%; /* Take up more space on mobile */
  max-width: 500px;
  padding: 15px;
  font-size: 1.5rem;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #29722d;
}

#error-message {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

video {
  width: 100%; /* Ensure the video takes up available space */
  max-width: 600px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  input {
    font-size: 1.2rem;
    padding: 12px;
  }

  button {
    font-size: 1.2rem;
    padding: 12px;
  }

  video {
    width: 80%;
  }
}
